*, *::before, *::after{
    box-sizing: border-box;
}

body{
    background-color: #F3F3F3;
    margin: 0;
}

.container .ql-editor{
    width: 8.5in;
    min-height: 11in;
    padding: 1in;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
    background-color: white;
    margin: 75px 20px 20px 20px;
}

.ql-editor.ql-blank::before{
    /* left: 4.7in; */
    color: #191818;
    font-style: italic;
    position: relative;
}

.container .ql-container.ql-snow{
    border: none;
    display: flex;
    justify-content: center;
}

.container .ql-toolbar.ql-snow{
    display: flex;
    justify-content: center;
    width: 100%;
    position: fixed;
    z-index: 1;
    background-color: white;
    border: 1px solid black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.5);
}

.ql-undo, .ql-redo{
    font-size: large;
    font-weight: 300;
}

@page{
    margin: 1in;
}
@media print{
    body{
        background: none;
    }

    .container .ql-editor{
        width: 6.5in;
        height: 9in;
        padding: 0;
        margin: 0;
        box-shadow: none;
        align-self: flex-start;
        
    }
    .container .ql-toolbar.ql-snow{
        display: none;
    }
}